{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>Challenge 3</title>
    </head>

    <body>
        {% include 'story_4/navbar.html' with active_tab='register' %}

        {% block content %}
        <form>
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Name</label>

                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Your name" required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Birth date</label>

                <div class="col-sm-3">
                    <input type="date" class="form-control" required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Email</label>

                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="example@gmail.com" required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Username</label>

                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="@example" required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Password</label>

                <div class="col-sm-3">
                    <input type="password" class="form-control" placeholder="Password (min. 8 characters)" minlength=8 required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label">Confirm password</label>

                <div class="col-sm-3">
                    <input type="password" class="form-control" placeholder="Confirm password" minlength=8 required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <button type="submit" class="btn btn-primary" formaction="register_failed">Register!</button>
            </div>

        </form>
        {% endblock %}
    </body>

</html>
