{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="{% static 'story_4/css/style.css' %}" type="text/css">
        <title>Story 3</title>
    </head>
    <body>
        {% include 'story_4/navbar.html' with active_tab='home' %}

        {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="desc">
                    <img src="{% static 'story_4/images/foto.JPEG' %}" class="profile-picture">
                    Hello, everyone! <br>
                    My name is Irwanto. <br>
                    I am a second year at Fasilkom UI. <br>
                    I am an active, energetic, and cheerful person. <br>
                    I also have passion on software engineering.
                </div>

                <div class="main">
                    <div class="what">
                        <div class="roundedcorner">
                            <div class="box-title">What can I do? </div>
                            <img src="{% static 'story_4/images/if_list_293685.png' %}" class="icon">
                            <div class="text-in-box">
                                Programming with Python and Java. <br>
                                Work in a team.
                            </div>
                        </div>
                    </div>

                    <div class="what">
                        <div class="roundedcorner">
                            <div class="box-title">What have I done?</div>
                            <img src="{% static 'story_4/images/if_checklist-check-mark-note-organizer_3209371.png' %}" class="icon">
                            <div class="text-in-box">
                                Actually nothing other than college task. But I am ready for new challenge.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact">
                    <div class="roundedcorner">
                        <div class="text-in-box">
                            <div class="box-title"> Contact me! </div>
                            <p>
                                <img src="{% static 'story_4/images/if_mail_287559.png' %}" class="contact-icon"> irwanto_kong@yahoo.co.id <br>
                            </p>

                            <p>
                                <img src="{% static 'story_4/images/if_phone_1055012.png' %}" class="contact-icon"> 081263147200
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
