<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Jadwal Pribadi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if active_tab == 'tambah_kegiatan' %} active {% endif %}">
                <a class="nav-link" href="tambah_kegiatan">Tambah Kegiatan</a>
            </li>
            <li class="nav-item {% if active_tab == 'lihat_jadwal' %} active {% endif %}">
                <a class="nav-link" href="tampilkan_jadwal">Lihat Jadwal</a>
            </li>
        </ul>
    </div>
</nav>
