<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>Story 5 - Jadwal Pribadi</title>
    </head>
    <body>
        {% include 'navbar.html' with active_tab='lihat_jadwal' %}

        <div align="center">
            <div class="table-responsive" style="width: 90%">
                <table class="table">
                    <thead>
                        <th>Nama kegiatan</th>
                        <th>Hari, Tanggal</th>
                        <th>Waktu</th>
                        <th>Tempat</th>
                        <th>Kategori</th>
                    </thead>
                    <tbody>
                        {% for i in semua_jadwal %}
                        <tr class="success">
                            <td> {{i.nama_kegiatan}} </td>
                            <td> {{i.tanggal | date:"l, d M Y"}} </td>
                            <td> {{i.waktu | time:"h:i A"}} </td>
                            <td> {{i.tempat}} </td>
                            <td>{{ i.kategori }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-danger" href="{% url 'delete_all'%}">Hapus semua</a>
        </div>
    </body>
</html>
